{%extends "layout.html" %}
{% block content %}

<div class="divForm" id="fundForm">
  <form class="form" action="addFund" method="post">
    <label id="fundNameLabel"for="fundName">Fund Name: </label>
    <input id="fundNameBar" type="text" name="fundName" required placeholder="Put Name Here...."><br>
    <label id="capitolLabel"for="capitol">Starting Capitol$: </label>
    <input id="capitolBar" class="dollar" type="text" name="capitol" value="0" required><br>
    <input type="submit" name="submitFund" value="Add Fund" class="submit">
  </form>
</div>

<!-- input is still sanitized server side so messing with this only messes
  up your personal experience, I dont care to dummy proof server side -->
<script src="../scripts/inputDummyProof.js"></script>



{% endblock %}
