{%extends "layout.html" %}
{% block content %}

<p id="allExpenses">All Expenses</p>
<a href="/"><button id="addExpense" type="button" name="addExpense">Add an Expense</button></a>
<div id="sortController">
  <p id="sortBy" class="sort">Sort BY: </p>
  <select class="sort" id="sortBar" name="sort">
    <option value="name">Expense Name</option>
    <option value="dollars">Cost</option>
    <option value="date" selected>Date</option>
  </select>
  <button id="active" class="sortDirection sort" name="ascend">&#8593;</button>
  <button id="inactive" class="sortDirection sort" name="descend">&#8595</button>
</div>
<table>
  <tr>
    <th>Expense Name</th>
    <th>Expense Cost</th>
    <th>Expense Fund</th>
    <th>Date</th>
  </tr>
{% for expense in expense %}
  <tr class="row" id="{{expense.expenseId}}">
    <td class="name">{{expense.expenseName}}</td>
    <td class="dollars">${{expense.expenseCost}}</td>
    <td class="fund">
      {% for fund in fund %}
        {% if fund.fundId == expense.fundId %}
          {{fund.fundName}}
        {% endif %}

      {% endfor %}
    </td>
    <td class="date">{{expense.expenseDate}}</td>
    <td class="id">
      <a href="/deleteExpense?id={{expense.expenseId}}&amount={{expense.expenseCost}}"><button>
        Delete
      </button></a>
    </td>
  </tr>
  {% endfor %}
</table>
<!-- type moduel need for importing functions within the js file -->
<script src="../scripts/sort.js" type="module"></script>



{% endblock %}
