{%extends "layout.html" %}
{% block content %}

<div id="fundForm">
  <p>Add a fund here</p>
  <form class="form" action="addFund" method="post">
    <input type="submit" id="submit" name="submitFund" value="Add Fund" >
    <label id="fundNameLabel"for="fundName">Fund Name: </label>
    <input id="fundNameBar" type="text" name="fundName" required placeholder="Put Name Here...."><br>
    <label id="capitolLabel"for="capitol">Starting Capitol$: </label>
    <input id="capitolBar" class="dollar" type="number" name="capitol" value="0" required><br>

  </form>
</div>
<div class="fundContainer">
  <p>
    {% if message == true %}
      Fund Added successfully
    {%endif%}
  </p>
{% for fund in fund %}
  <a href="/viewFund?id={{fund.fundId}}">
    <button  class="fundButton" type="button" name="{{fund.fundId}}">
    <span id="fundName">{{fund.fundName}}</span><br>
    <span id="capitol">${{fund.capitol}}</span>
  </button>
  </a>
{% endfor %}
</div>


<!-- input is still sanitized server side so messing with this only messes
  up your personal experience, I dont care to dummy proof server side -->
<script src="../scripts/inputDummyProof.js"></script>
{% endblock %}
