{% extends "layout.html" %}
{% block content %}

 <p class="heading" id="availableTitle"> Available Funds </p>
 <p class="heading" id="availableFunds">${{Capitol}}</p>
<form class="fund" action="/addExpense" method="post">
    <label id="expenseLabel"for="expenseName">Expense Name: </label>
    <input id="expenseBar"  type="text" name="expenseName" required>
    <label id="costLabel"for="cost">Amount:$</label>
    <input id="costBar" class="dollar" type="text" name="cost" required><br> 
    <label id="dateLabel"for="date">Date of Expense: </label>
    <input id="dateBar" type="date" name="date" >
      <select id="fundSelection" name="fundName" >
        <option disabled selected value="Select Fund">Select Fund</option>
        {%for fund in fund%}
          <option value="{{fund.fundId}}">{{fund.fundName}}</option>
        {%endfor%}
      </select>
      <span><input type="submit" id="submit" name="submit" value="Add Expense"></span>
    </form>
    <p id="message">
      {% if message == true %}
        expense successfully added
      {%endif%}
    </p>
  <picture >
    <source class="earn" media="(max-width: 699px)"srcset="./src/brokeEarn400w.jpg">
    <source  class="earn" media="(min-width: 700 px)" srcset="./src/brokeEarn600w.jpg" >
    <img class="earn" src=./src/brokeEarn600w.jpg alt="Earn about to order a kids meal because that's all he can afford">
  </picture>


{% endblock %}
