{%extends "layout.html" %}
{% block content %}

<a href="/addIncome"><button id="addIncome" type="button" name="addIncome">
  Add Income
</button></a>
<div id="sortController">
  <p>Sort BY: </p>
  <select id="sortBar" name="sort">
    <option value="name">Income Name</option>
    <option value="dollars">Income Capitol</option>
    <option value="date" selected>Date</option>
  </select>
  <button id="active" class="sortDirection" name="ascend">&#8593;</button>
  <button id="inactive" class="sortDirection" name="descend">&#8595</button>
</div>
<table>
  <tr>
    <th>Income Name</th>
    <th>Income Capitol</th>
    <th>Date</th>
    <th></th>
  </tr>
{% for income in income %}
  <tr class="row">
    <td class="name">{{income.incomeName}}</td>
    <td class=dollars>${{income.capitol}}</td>
    <td class="date">{{income.incomeDate}}</td>
    <td class="id">
      <a href="/viewIncome?id={{income.incomeId}}"><button>
        View Income
      </button></a>
    </td>
  </tr>
  {% endfor %}
</table>
<!-- type moduel need for importing functions within the js file -->
<script src="../scripts/sort.js" type="module"></script>
{% endblock %}
