<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Justin Can have Ideas Too</title>
  <meta name="description" content="Home page">
  <meta name="Justin" content="SitePoint">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Zen+Kurenaido&display=swap" rel="stylesheet">
  <!-- need text/css so server knows its a css file
	href is based off stated static file folder public -->
  <link type="text/css" rel="stylesheet" media="screen and (min-width:700px)"href="/css/mainDesktop.css">
  <link type="text/css" rel="stylesheet" media="screen and (max-width:699px)"href="/css/mainMobile.css">

  <!-- allows for each page to insert its own css file superseeding the main file -->
  <link type="text/css" rel="stylesheet" media="screen and (min-width:700px)"href="/css/{{cssDesktop}}">
  <link type="text/css" rel="stylesheet" media="screen  and (max-width:699px)"href="/css/{{cssMobile}}">
</head>
<body>
   {% block content %}

   {% endblock %}
</body>
<a href="/logout"><button type="button" name="logout">Boop</button></a>
<footer>
  <div class="links">
    <a href="/"><button type="button" name="home ">Home</button></a>
    <a href="expense"><button type="button" name="expense">Expenses</button></a>
    <a href="/fund"><button type="button" name="fund">Funds</button></a>
    <a href="/income"><button type="button" name="income">Income</button></a>
  </div>
</footer>

</html>
