{%extends "layout.html" %}
{% block content %}

<h2>{{fund.fundName}}</h2>
  <a href="/"><button id="addExpense" type="button" name="addExpense">Add expense</button></a>
  <div id="sortController">
    <p>Sort BY: </p>
    <select id="sortBar" name="sort">
      <option value="name">Expense Name</option>
      <option value="dollars">Cost</option>
      <option value="date" selected>Date</option>
    </select>
    <button id="active" class="sortDirection" name="ascend">&#8593;</button>
    <button id="inactive" class="sortDirection" name="descend">&#8595</button>
  </div>
  <table>
    <tr>
      <th>Expense Name</th>
      <th>Expense Cost</th>
      <th>Date</th>
    </tr>
  <!-- Onces tables are added
    for Transfer in Transfers will be added
    for Income in income will be added
    This will all be sorted before users sees by client js
    So no need to sort in server and put in one list
    !-->

    <tr class="row">
      <td class="name">Transfer Test</td>
      <td class="dollars transfer" >$12</td>
      <td class="date">12232023</td>
    </tr>
  {% for expense in expense %}
    <tr class="row">
      <td class="name">{{expense.expenseName}}</td>
      <td class="dollars expense">${{expense.expenseCost}}</td>
      <td class="date">{{expense.expenseDate}}</td>
    </tr>
    {% endfor %}
  </table>



  <!-- type moduel need for importing functions within the js file -->
  <script src="../scripts/sort.js" type="module"></script>

{% endblock %}
