 {%extends "layout.html" %}
{% block content %}

<h2>{{fund.fundName}} : ${{fund.capitol}}</h2>
  <a href="/"><button id="addExpense" type="button" name="addExpense">Add expense</button></a>
  <div id="sortController">
    <p>Sort BY: </p>
    <select id="sortBar" name="sort">
      <option value="name">Expense Name</option>
      <option value="dollars">Cost</option>
      <option value="date" selected>Date</option>
    </select>
    <button id="active" class="sortDirection" name="ascend">&#8593;</button>
    <button id="inactive" class="sortDirection" name="descend">&#8595</button>
  </div>
  <table>
    <tr>
      <th>Expense Name</th>
      <th>Expense Cost</th>
      <th>Date</th>
    </tr>
  {% for expense in expense %}
    <tr class="row">
      <td class="name">{{expense.expenseName}}</td>
      <td class="dollars expense">${{expense.expenseCost}}</td>
      <td class="date">{{expense.expenseDate}}</td>
    </tr>
    {% endfor %}
  {% for income in income %}
  <tr class="row">
    <td class="name">{{income.incomeName}}</td>
    <td class="dollars income">${{income.capitol}}</td>
    <td class="date">{{income.incomeDate}}</td>
  </tr>
  {% endfor %}
  </table>
  <button type="button" name="{{fund.fundId}}" id="delete">
    Delete Fund
  </button>



  <!-- type moduel need for importing functions within the js file -->
  <script src="../scripts/sort.js" type="module"></script>
  <script src="../scripts/deleteFund.js"></script>

{% endblock %}
