{%extends "layout.html" %}
{% block content %}

<h2>{{fund.fundName}}</h2>
  <a href="/addIncome"><button id="addIncome" type="button" >Add Income</button></a>
  <div id="sortController">
    <p>Sort BY: </p>
    <select id="sortBar" name="sort">
      <option value="name">Fund Name</option>
      <option value="dollars">Capitol recieved</option>
    </select>
    <button id="active" class="sortDirection" name="ascend">&#8593;</button>
    <button id="inactive" class="sortDirection" name="descend">&#8595</button>
  </div>
  <table>
    <tr>
      <th>Fund Name</th>
      <th>Capitol Recieved</th>
    </tr>
  {% for income in income %}
    {% for fund in fund %}
      {% if fund.fundId == income.fundId %}
        <tr class="row">
          <td class="name">{{fund.fundName}}</td>
          <td class=dollars>${{income.capitol}}</td>
        </tr>
      {%endif%}
    {%endfor%}
    {% endfor %}
  </table>
  <!-- type moduel need for importing functions within the js file -->
  <script src="../scripts/sort.js" type="module"></script>

{% endblock %}
