h1{
  margin-bottom: 10px; 
}
#fundForm{
  border:solid;
  width: 90%;
  margin : 1% 5%;
  height: 90px;
}
#fundForm p{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 5px 0 ;
}
#fundNameBar{
  margin-bottom: 3px;
  height: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 13px;
  width: 30%;
}
#fundNameLabel{
  font-family: 'Quicksand', sans-serif;
  margin-left:5px;
  font-size: 18px;
}
#submit{
  font-family: 'Quicksand', sans-serif;
  font-size:17px;
  width: 100px;
  height:50px;
  float: right;
}
.fundContainer{
  border: solid white;
  margin-left: 1px;
  margin-right: 1px;
}
.fundButton{
  width: 180px;
  border: solid blue;
  margin-bottom: 20px;
  margin-left:1px;
  margin-right: 0px;
  height: 105px;
  font-size: 25px;
  
}

.fundButton:hover{
 background-color: #9dff47;
}

