div{
  border: solid white;
  margin-left: 1px;
  margin-right: 1px;
}
.fundButton{
  width: 190px;
  border: solid blue;
  margin-bottom: 20px;
  margin-left:1px;
  margin-right: 0px;
  height: 75px;
  font-size: 25px;
  
}
#addSomething{
  width: 210px;
  font-size: 30px;
  height: 70px;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 80%;
}
.fundButton:hover{
 background-color: #9dff47;
}

