.heading{
font-family: 'Quicksand', sans-serif;
font-size: 20px;
}
#availableTitle{
  text-align: center;
  margin-bottom: 2px;
  text-decoration: underline;
}
#availableFunds{
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
}
label{
  font-family: 'Quicksand', sans-serif;
}
input{
  font-family: 'Quicksand', sans-serif;
}
#expenseLabel{
  margin-left: 28%;
}
#expenseBar{
  margin-right: 7px;
  width: 14%;
}
#amountBar{
  display: inline-block;
  width: 8%;
}
#dateLabel{
  margin-left:30%; 
  margin-right: 2px;
}
#fundSelection{
  margin-left: 3%;
  margin-top: 10px;
  width: 20%;
}
#submit{
  font-size: 25px;
  display: inline-block;
  width: 40%;
  height: 40px;
  margin-left: 32%;
  margin-top: 8px;

}
#submit:hover{
  background-color: #9dff47;
}

.earn{
  margin: 0 31%;
  margin-top: 15px;
  margin-bottom: 2px;
}
