.links{
  text-align: center;
  padding-top: 20px;
  border: solid white;
  margin-top: 5%
}
.links button{
  width: 310px;
  border: solid blue;
  margin-left:40px;
  margin-right: 60px;
  height: 65px;
  font-size: 36px;

}
button:hover{
 background-color: #9dff47;
}
#addSomething{
  font-size: 40px;
  height: 100px;
  display: inline-block;
  margin-left: 80%;
}
