html{background-color: #f7af6a;}
.links{
  text-align: center;
  padding-top: 20px;
  border: solid white;
  margin-top: 1%
}
.links button{
  font-family: 'Quicksand', sans-serif;
  width: 225px;
  border: solid blue;
  margin-left:10px;
  margin-right: 10px;
  height: 55px;
  font-size: 36px;

}
.links button:hover{
 background-color: #9dff47;
}
h1{
  text-align: center;
}
