
#addSomething:active{
 background-color: #9dff47;
}
tr:nth-child(even){
  background-color: white;
}
table{
  border: solid;
}
.dollars{
  font-weight: bold;
}
.expense{
  color: red;
}

.transfer{
  color: #5b8f3c;
}