h2{
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
#addExpense:active{
 background-color: #9dff47;
}
#addExpense{
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  margin-left: 70%;
  margin-bottom: 2px;
}
#sortController{
  font-family: 'Zen Kurenaido', sans-serif;
  text-align: center;
}
#sortController p{
  margin-bottom: 2px;
  text-decoration: underline;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0px;
}
#sortBar{
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 0px;
  text-align: center;
}
.sortDirection{
  font-size: 18px;
  font-weight: bold;
}
tr:nth-child(even){
  background-color: white;
}
table{
  border: solid;
}
.dollars{
  font-weight: bold;
}
.expense{
  color: red;
}

.income{
  color: #5b8f3c;
}
#delete{
  margin-top: 3px;
  color: red;
  font-size: 17px;
  margin-left: 70%;
  margin-bottom: 15px;
}